main {
  width: 960px;
  margin: auto;
}
main .box_form {
  border-radius: 3%;
}
main .box_form .title_form {
  display: inline-block;
  width: 45%;
  font-weight: bold;
  font-size: 3em;
  padding: 3% 0 0;
  margin-left: 5%;
}
main .box_form .subtitle_form {
  color: red;
  width: 45%;
  font-size: 1.3em;
  display: inline-block;
  text-align: right;
}
main .box_form form {
  margin: 2% 0;
}
main .box_form .form_input:first-child,
main .box_form .form_input:last-child {
  border-top: 3px solid #918F8F;
  padding-top: 3%;
}
main .box_form .form_input {
  display: block;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
  padding: 12px;
}
main .box_form .form_input label,
main .box_form .form_input input,
main .box_form .form_input select,
main .box_form .form_input textarea {
  font-size: 1.5em;
  font-family: inherit;
  vertical-align: middle;
}
main .box_form .form_input label {
  display: inline-block;
  width: 39%;
}
main .box_form .form_input input,
main .box_form .form_input textarea,
main .box_form .form_input select {
  box-shadow: 0px 0px 3px #CCCCCC, 0 10px 15px #EEEEEE inset;
  border-radius: 2px;
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  font-size: 1.5em;
}
main .box_form .form_input input:required {
  background: #FFFFFF url(../img/red_asterix.gif) no-repeat 98% center;
}
main .box_form .form_input input:focus,
main .box_form .form_input textarea:focus,
main .box_form .form_input select:focus {
  background: #FFFFFF;
  background-image: none;
  border: 1px solid #3B87FD;
  box-shadow: 0 0 3px #AAAAAA;
}
main .box_form .form_input .invalid {
  background: #FFFFFF url(../img/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}
main .box_form .form_input .valid {
  background: #FFFFFF url(../img/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5CD053;
  border-color: #28921F;
}
main .box_form .form_input textarea {
  width: 85%;
  height: 100px;
}
main .box_form .form_input .submit {
  font-size: 1.5em;
  background-color: #68B12F;
  background: gradient(linear, left top, left bottom, from(#68B12F), to(#50911E));
  background: linear-gradient(top, #68B12F, #50911E);
  border: 1px solid #509111;
  border-bottom: 1px solid #5B992B;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9FD574;
  box-shadow: 0 1px 0 0 #9FD574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}
main .box_form .form_input .submit:hover {
  opacity: .85;
  cursor: pointer;
}
main .box_form .form_input .submit:active {
  border: 1px solid #20911E;
  box-shadow: 0 0 10px 5px #356b0b inset;
}
validation-bubble-message {
  padding: 1em;
}
#check_buttom::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF url(../img/invalid.png);
}
